p{
    color: brown;
    font-family: 'Manrope', sans-serif;
    font-size: 1.1em;
}

h1{
    color: A5B4FC;
    font-family: 'Montserrat', sans-serif;
    font-size: 2em;
}

.ma-classe{
    color: red;
}

ol{
    color: blueviolet;
    font-size: 1em;
    font-family: 'Manrope', sans-serif;
}

ul{
    color: green;
    font-size: 1em;
    font-family: 'Manrope', sans-serif;
}

a{
    color: royalblue;
    text-decoration: none;
    
}

.mots-parts{
    color: #A5B4FC;
    font-style: italic;
    font-weight: 600;
}